<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href={{ url_for('static', filename='styles.css') }} />
    </head>
    <body>
        <h2>Naitam's favorite shows are:</h2>
        <ol>
            {% for i in range(0, len) %}
                {% if tv_shows[i] == "Community" %}
                    <li id="fav">{{ tv_shows[i] }}</li><img src="{{ shows_img[i] }}">
                {% else %}
                    <li>{{ tv_shows[i] }}</li><img src="{{ shows_img[i] }}">
                {% endif %}
            {% endfor %}
        </ol>
        <img src="http://assets.stickpng.com/thumbs/5ece4ff9123d6d0004ce5f89.png"></img>
    </body>
</html>
